p {
  color: blue; font-size:20px
}

h1 {
  color: black;
  background-color: red;
  text-align: center;
  font-size: 35px
}

body {
  margin: 50px green
  padding: 37px
  width: 300px;
  border: 50px groove #BE4CC4;
}
